.blog-tools-widget-items-container {
	> .elgg-list-container > .elgg-list-entity {
		> li.elgg-item {
			display: none;
			border: none;
		}
		
		> li:first-child {
			display: list-item;
		}
	}
}

.blog-tools-widget-items-navigator {
	padding-top: 5px;
	text-align: center;
	border-top: 1px solid $(border-color-mild);
	
	> li {
		display: inline-block;
		border: 1px solid $(border-color-mild);
		padding: 0.2rem 0.5rem;
		cursor: pointer;
		
		&.elgg-state-selected {
			color: $(text-color-highlight);
			border-color: $(border-color-highlight);
		}
	}
}
